<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th>Emergence</th>
      <th>Depth</th>
      <th>Seed spacing</th>
      <th>Row spacing</th>
      <th>Grouping</th>
      <th>Maturity</th>
      <th>Thinning</th>
      <th>Mound</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.emergence %></td>
        <td><%= plant.depth %></td>
        <td><%= plant.seed_spacing %></td>
        <td><%= plant.row_spacing %></td>
        <td><%= plant.grouping %></td>
        <td><%= plant.maturity %></td>
        <td><%= plant.thinning %></td>
        <td><%= plant.mound %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
