<p id="notice"><%= notice %></p>

<p>
  <strong>Emergence:</strong>
  <%= @plant.emergence %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @plant.depth %>
</p>

<p>
  <strong>Seed spacing:</strong>
  <%= @plant.seed_spacing %>
</p>

<p>
  <strong>Row spacing:</strong>
  <%= @plant.row_spacing %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @plant.grouping %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @plant.maturity %>
</p>

<p>
  <strong>Thinning:</strong>
  <%= @plant.thinning %>
</p>

<p>
  <strong>Mound:</strong>
  <%= @plant.mound %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
